// Component specific styles
$white: #ffffff;
$mundane: #F7F7F7;
$treasure: #8E6877;
$common: #FFF1D0;
$uncommon: #D3D3D3;
$rare: #BD978E;
$veryRare: #C6961B;
$legendary: #B77C2F;
$wand: #D0D6B3;
$potion: #B2C7CB;

.container {
    h6 {
        display: block;
    }
    #mainTitle{
        text-align: center;
    }

    #delete-all {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        right: 0;
        overflow: visible;

        .item {
            position: relative;

            .tool {
                display: none;
                position: absolute;
                color: black;
                background-color: gold;
                padding: 5px;
                border-radius: 5px;
                margin: 10px;
                opacity: 0;
                transition: 1s;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                top: 0;
            }

            &:hover .tool {
                opacity: 1;
                display: initial;
            }
        }
    }

    #randItems,
    #randCharacter,
    #randEncounter {
        width: 43%;
        position: absolute;
        left: -43%;
        background-color: lightgrey;
        padding: 10px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        height: auto; // z-index: 0;
        embed {
            position: relative;
            z-index: 2;
        }

        &.show {
            left: 0;
            z-index: 2;
        }
        .btn{
            border: solid 2px $white;

            .icn{
                float: left;
                height: 25px;
                width: 25px;
            }

            &.mundane {
                background-color: $mundane;
                color: #000000;
            }
            &.treasure {
                background-color: $treasure;
                color: #fff;
            }
            &.common {
                background-color: $common;
                color: #000000;
            }
            &.uncommon {
                background-color: $uncommon;
                color: #000000;
            }
            &.rare {
                background-color: $rare;
                color: #000000;
            }
            &.very-rare {
                background-color: $veryRare;
                color: #000000;
            }
            &.legendary {
                background-color: $legendary;
                color: #FCFC7C;
            }
            &.wand {
                background-color: $wand;
                color: #000000;
            }
            &.potion {
                background-color: $potion;
                color: #000000;
            }
            &.scroll {
                background-color: #DBB363;
                color: #000000;
            }
        }

        .randItemsTab {
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: lightgrey;
            right: -28px;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            border-radius: 10px;
            cursor: pointer; // z-index: 1;
            .tabIcon {
                // font-size: 30px;
                position: absolute; // right: 0;
                // top: -5px; 
                transform: rotate(-45deg);
                right: -8px;
                top: -8px;
                height: 100%;
                padding: 5px;
                transition: 0.3s;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;

                &.expanded {
                    transform: rotate(45deg);
                    right: -3px;
                    top: 0;
                    z-index: 2;
                }
            }
        }
        .btn {
            position: relative;
            z-index: 2;
        }
    }
    .btn {
        display: block;
        width: 100%;
        overflow: hidden;
        border: solid 1px white;

        div {
            word-wrap: break-word;
        }
    }
    .btn-group {
        width: 100%;
        .btn-scroll {
            width: 20%;
            display: inline;
            box-sizing: border-box;
            position: relative;

            .icn-scroll {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0.12;
            }

            &#scroll-item01 {
                background-color: #FFF1D0;
            }
            &#scroll-item23 {
                background-color: #D3D3D3;
            }
            &#scroll-item45 {
                background-color: #BD978E;
            }
            &#scroll-item67 {
                background-color: #C6961B;
            }
            &#scroll-item89 {
                background-color: #B77C2F;
            }
        }
    }

    .display {
        margin-left: 45px;

        hr {
            margin: 0;
        }

        .item {
            display: inline-block;
            margin: 0 5px;
            position: relative;
            .stuff {

                display: inline-block;
                text-align: center;
                padding: 20px 20px;
                margin: 5px 0;
                height: 100%;
                border-radius: 5px;
                background-color: white; // &:after {
                //     display: none;
                //     position: absolute;
                //     content: "";
                //     width: 30px;
                //     height: 30px;
                //     top: 30%;
                //     right: -9%;
                //     background-color: $money;
                //     transform: rotate(45deg); 
                //     // z-index: -1;
                // }
                // &:hover:after {
                //     display: block;
                // }
            }
            .mundane {
                border: solid 2px $mundane;
            }
            .treasure {
                border: solid 2px $treasure;
            }
            .common {
                border: solid 2px $common;
            }
            .uncommon {
                border: solid 2px $uncommon;
            }
            .rare {
                border: solid 2px $rare;
            }
            .very-rare {
                border: solid 2px $veryRare;
            }
            .legendary {
                background-color: #000000;
                color: #FCFC7C;
            }
            .wand {
                background-color: #00E1FF;
                color: #000000;
            }
            .potion {
                background-color: #63DB7B;
                color: #000000;
            }
            .scroll {
                background-color: #DBB363;
                color: #000000;
            }

            .tool {
                display: none;
                position: fixed; // top: 35px;
                // left: 30%; // transform: translateX(50%);
                background-color: beige;
                z-index: 10;
                border-radius: 5px;
                text-align: left;
                padding: 30px;
                font-family: Georgia, serif;
                max-width: 50%;
                max-height: 50%;
                overflow: auto;
            }

            .del-item {
                position: absolute;
                top: 7px;
                right: 2px;
                width: 20px;
                background-color: transparent;
                color: #D9534F;
                border: 0;
            }
        }
        .item:hover .tool {
            display: block;
        }
    }
    .display-small {
        width: 57%;
        float: right;
    }
}